*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #A8BF7E;
}

.container{
    margin: 0 auto;
	text-align: center;
	padding: 20px 10px;
	width: 250px;
    margin-top: 200px;
	background:#9FD1E9;
    
}

.calcultor-box{
    display: flex;
    justify-content: center;
    width: 600px; 
    height: 600px;
    
}

input[type=text]{
    /* width: 100%; */
    text-align: right;
    padding: 15px 40px;
    background: #F1FBEA;
    outline: none;
    border: none;
    box-shadow: 0px 5px 5px 0px rgba(181,177,177,0.75);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(181,177,177,0.75);
    -moz-box-shadow: 0px 5px 5px 0px rgba(181,177,177,0.75);
    
}
.calcultor-row{
    width: 100%;
   display: flex;
  justify-content: center;
  padding: 2px 0px;

}

.buttons{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

.buttons button{
    padding: 20px;
    margin: 2px;
    text-align: center;
    background-color: #EFEFEF;
    outline: none;
    border: none;
    box-shadow: 0px 5px 5px 0px rgba(181,177,177,0.75);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(181,177,177,0.75);
    -moz-box-shadow: 0px 5px 5px 0px rgba(181,177,177,0.75);
    color: #5f5f5f;
    cursor: pointer;  
}

.buttons button:nth-child(4){
    background-color: #EFFF92;
}

#clear{
    background-color: #FF9EA9;
}
